@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<div class="col-md-12">
<div class="card">
    <div class="card-body">
        <p>Use this area to provide additional information.</p>
    </div>
</div>
</div>