@{
    ViewData["Title"] = "Home Page";
}
<div class="col-md-12">
<div class="card">
    <div class="card-body">
        <img src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.0-9/21151440_1832065947018351_6904611785125151922_n.jpg?_nc_cat=102&amp;_nc_ht=scontent.fhan2-1.fna&amp;oh=5f696ff839bbc0aac7950a2d6f17f56d&amp;oe=5CD44371" style="width: 1200px"/>
    </div>
</div>
</div>
