@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>
<div class="col-md-12">
<div class="card">
    <div class="card-body">
        <p>Use this page to detail your site's privacy policy.</p>
    </div>
</div>
</div>